<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <h1>Cisla</h1>
    <form method="POPST">
        <label fro:a>A:</label>
        <input type="number" name="a" id="a">
        <label fro:b>B:</label>
        <input type="number" name="b" id="b">
        <input type="submit" name="submit" value="OK">



    </form>
    <h2>{{vysledok}}</h2>
    
</body>
</html>